@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>

<div class="alert alert-danger" role="alert"><strong>Oops!</strong> Something went wrong while processing your request.</div>




